.not-found {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found__content {
  text-align: center;
  color: white;

  background: rgba(0,0,0,0.4);
  padding: 40px;
  border-radius: 16px;

  backdrop-filter: blur(6px);
}
